<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <h1 class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">Pagina Inicial</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="div-stylizada">
    <h2>
      Teste - Desenvolvedor Web
    </h2>

  </div>
<div class="container-stylizado">
  <router-outlet></router-outlet>
</div>
