<div class="cards">
  <div class="card ml-5 card-stylizado">
    <div class="card-body">
      <h4 class="card-title">Detalhes Cliente</h4>

      <p class="card-title">Nome: {{cliente?.nome}}</p>
      <p class="card-text">Idade: {{cliente?.idade}}</p>
      <p class="card-text">CNPJ/CPF: {{cliente?.cnpjCpf}}</p>
      <p class="card-text">Tipo Pessoa: {{cliente?.tipoPessoa}}</p>
      <p class="card-text">Endereço: {{cliente?.endereco}}</p>

      <a [routerLink]="['/home/atualizar',cliente.id]" routerLinkActive="router-link-active"
        class="btn btn-success mr-2">Atualizar
        Cliente</a>

      <button (click)="excluir()" class="btn btn-danger">Excluir
        Cliente</button>
    </div>

  </div>
